@model List<Student>

@{
}
<h2 class="text-center mb-5">List of Students</h2>
<div class="row mb-5">
	<div class="col">
		<a class="btn btn-primary" asp-controller="Student" asp-action="Create">Add New Student</a>
	</div>
	<div class="col">
	</div>
</div>
<table class="table">
	<thead>
		<tr>
			<th>EnrollmentNo</th>
			<th>FirstName</th>
			<th>LastName</th>
			<th>Gender</th>
			<th>DateOfBirth</th>
			<th>AdmissionDate</th>
			<th>Class</th>
			<th>Section</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var student in Model)
		{
			<tr>
				<td>@student.EnrollmentNo</td>
				<td>@student.FirstName</td>
				<td>@student.LastName</td>
				<td>@student.Gender</td>
				<td>@student.DateOfBirth.ToString("dd/MM/yyyy")</td>
				<td>@student.AdmissionDate.ToString("dd/MM/yyyy")</td>
				<td>@student.ClassId</td>
				<td>@student.SectionId</td>
				<td><img src="/students/@student.ImageFileName" width="100" /></td>
				<td style="white-space:nowrap">
					<a class="btn btn-primary btn-sm" asp-controller="Student" asp-action="Show" asp-route-id="@student.EnrollmentNo">Show</a>
					<a class="btn btn-primary btn-sm" asp-controller="Student" asp-action="Edit" asp-route-id="@student.EnrollmentNo">Edit</a>
					<a class="btn btn-danger btn-sm" asp-controller="Student" asp-action="Delete" asp-route-id="@student.EnrollmentNo" onclick="return confirm('Are you sure?')">Delete</a>
				</td>
			</tr>
		}
	</tbody>

</table>

